html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0; }

.btn {
  border-radius: 5px; }
  .btn :hover {
    cursor: pointer; }

#simulator-header {
  display: flex;
  justify-content: space-evenly; }

#workspace {
  display: flex;
  flex-direction: row;
  height: 100vh; }
  #workspace #tool-bar ul li {
    list-style-type: none;
    padding: 0; }
  #workspace #tool-bar li {
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px; }

.btn-tool {
  width: 70px;
  height: 70px;
  padding: 5px; }
  .btn-tool img {
    width: 50px;
    height: 50px; }
